[flake8]
max-line-length = 88
extend-ignore =
    E203,
    W503,
    W291,
    W292,
    W293,
    E128,
    E201,
    E202,
    E221,
    E261,
    E302,
    E305,
    E501
exclude =
    .git,
    __pycache__,
    commit_archive,
    strategy_variants,
    exports,
    tests,
    .venv